<!doctype html>
<html data-ng-app="myApp">



<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
 <div data-ng-controller='UserController'>
<div class="container" align="justify">
		<div class="row vertical-offset-100">
		    <div class="col-md-6 col-md-offset-14">
		    	<div class="panel panel-default">
					<div class="panel-heading">
				    	<h3 class="panel-title" align="center"><i>Please Register</i></h3>
				 	</div>
					<fieldset><br>
						<div class="form-group" align="center">
							<label class="col-md-4 control-label"><i>Enter FirstName</i></label><input type="text" ng-model="user.firstName"><br>
						</div>	
						<div class="form-group" align="center">
							<label class="col-md-4 control-label"><i>Enter LastName</i></label><input type="text" ng-model="user.lastName"><br>
						</div>
						<div class="form-group" align="center">
							<label class="col-md-4 control-label"><i>Enter Email</i></label><input type="text" ng-model="user.email"><br>
						</div>
						<div class="form-group" align="center">
							<label class="col-md-4 control-label"><i>Enter Phone Number</i></label><input type="text" ng-model="user.phonenumber"><br>
						</div>
							
						<div class="form-group" align="center">
							<label class="col-md-4 control-label"><i>Enter Password</i></label><input type="password" ng-model="user.password"><br>
						</div>
						<div class="form-group" align="center">
							<label class="col-md-4 control-label"><i>Select Role</i></label><input type="radio" ng-model="user.role" value="Student">Student
							<input type="radio" ng-model="user.role" value="ALUMNI">Alumni
							<input type="radio" ng-model="user.role" value="EMPLOYEE">Employee
							<input type="radio" ng-model="user.role" value="STUDENT">Student
						</div>
						<div class="form-group" align="center"><input type="submit" value="Edit Profile" data-ng-click="updateUser(user)"><br></div><br>
					</fieldset>
				</div>
			</div>
		</div>
</div>
</div>

</body>
</html>
						
  