<div class="container">
<div class="row" style:color="black">
<div class="panel panel-info">
<div class="panel-heading" style:color="black">{{job.jobTitle}}</div>
<div class="panel-body">
<b>Job Description</b>:{{job.jobDescription}}<br> 
<b>SkillsRequired</b>:{{job.skillsRequired}}<br> 
<b>Location</b>:{{job.location}}<br>
<b>Years of Exp</b>:{{job.yrsOfExp}}<br>
<b>Company Name</b>:{{job.companyName}}<br>
 <b>Salary</b>:{{job.salary}}<br>
<b>Posted On </b>{{job.postedon | date:'medium'}}
</div>
</div>
</div>
</div>
<a href="#/alljobs">Back to previous page-> Get All Jobs</a>