<style>
 body 
 	{
        background-color:black;
         }
.vertical-offset-100{
    padding-top:40px;
}
</style>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body data-ng-controller='UserController'>
<div class="container" align="justify">
		<div class="row vertical-offset-100">
		    <div class="col-md-6 col-md-offset-3">
		    	<div class="panel panel-default">
					<div class="panel-heading">
				    	<h3 class="panel-title" align="center"><i>Job Form</i></h3>
				 	</div>
				
					<fieldset><br>
						<div class="form-group" align="center">
							<label class="col-md-4 control-label"><i>Enter Job Title:</i></label><input type="text" ng-model="job. jobTitle"><br>
						</div>
						<div class="form-group" align="center">
							<label class="col-md-4 control-label"><i>Enter Job Description:</i></label><textarea ng-model="job.jobDescription"></textarea><br>
						</div>
						<div class="form-group" align="center">
							<label class="col-md-4 control-label"><i>Enter Year Of Experience:</i></label><input type="text" ng-model="job.yrsOfExp"><br>
						</div><br>
						<div class="form-group" align="center">
							<label class="col-md-4 control-label"><i>Enter Salary:</i></label><input type="number" ng-model="job.salary"><br>
						</div>
						<div class="form-group" align="center">
							<label class="col-md-4 control-label"><i>Enter Skills Required:</i></label><input type="text" ng-model="job.skillsRequired"><br>
						</div>
						<div class="form-group" align="center">
							<label class="col-md-4 control-label"><i>Enter Location:</i></label><input type="text" ng-model="job.location"><br>
						</div>
						<div class="form-group" align="center">
							<label class="col-md-4 control-label"><i>Enter Company Name:</i></label><input type="text" ng-model="job. companyName"><br>
						</div>
						
						<div align="center"><input type="submit" value="addjob" ng-click="addJob(job)"></div>
				</fieldset>
				</div>
			</div>
		</div>
	</div>
</body>
</html>