<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div>
<div class="main-content-agile">
		<div class="sub-main-w3">
<h3 align="center">Friend Requests</h3>

<!-- <div class="panel-body"> -->
<ul style="list-style:none">
<li ng-repeat="request in pendingRequests">
<img src="http://localhost:8181/back2/getimage/{{request.fromId.email}}" class="img-circle" width="50px" height="50px">
<br>{{request.fromId.email}}
<br>

{{request.fromId.firstName}} &nbsp;{{request.fromId.lastName}}<br>
<span class="fa fa-phone" aria-hidden="true"></span>{{request.fromId.phonenumber}}<br>
<button type="button" class="btn btn-primary" ng-click="acceptRequest(request)">Accept</button>
<button type="button" class="btn btn-warning" ng-click="deleteRequest(request)">Delete</button>
</li>

</ul>
</div>
</div>

</body>
</html>
