<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script   src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link  href="resources/js/theme.js" type="text/javascript">
<link rel="stylesheet" href="resources/assets/css/fileinput.min.css"/>
<link rel="stylesheet" href="resources/assets/css/fileinput.css"/>
<link rel="stylesheet" href="resources/assets/css/theme.css"/>
<script src="resources/js/fileinput.min.js"  type="text/javascript"></script>
<script src="resources/js/fileinput.js"  type="text/javascript"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<title>Insert title here</title>
</head>
<body>
<div class="container kv-main">
<div class="from-group">
<input class="file" type="file" name="image" data-preview-file-type="any" 
data-upload-url="http://localhost:8181/back2/uploadprofilepic">
</div>
</div>
</body>
</html> 
<!-- <!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
     <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
     
    <link href="css/fileinput.css" media="all" rel="stylesheet" type="text/css"/>
    
    <link href="themes/explorer/theme.css" media="all" rel="stylesheet" type="text/css"/>
   
    
    <script src="js/plugins/sortable.js" type="text/javascript"></script>
    <script src="js/fileinput.js" type="text/javascript"></script>
    <script src="themes/explorer/theme.js" type="text/javascript"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
     
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script> 
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet" />
  
<title>Insert title here</title>
</head>
<body> 
<div class="container kv-main">
           <div class="form-group">
            <input class="file" type="file" 
            name="image"
            data-preview-file-type="any" 
            data-upload-url="http://localhost:8081/back2/uploadprofilepic">
        </div>
        </div>
        <style>
 body {
        background-color: #444;
        background: url(https://acshub.co.uk/hubassets/uploads/2016/09/acs-website-background-building-e1472862899804.jpg);
        
    }
.vertical-offset-100{
    padding-top:100px;
}
</style>
       
</body>
</html>-->