<!DOCTYPE html>
<html lang="en" data-ng-app='myApp'>
<head>
<meta charset="ISO-8859-1">
<title>Bootstrap Example</title>
   	<meta charset="utf-8">
 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <link rel="stylesheet" href="resources/assets/css/bootstrap-theme.min.css">

 
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
 <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.js"></script>
 <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-cookies.js"></script>
 <link rel="stylesheet" href="resources/assets/css/Pretty-Footer.css"/>
  <!-- <link rel="stylesheet" href="resources/assets/css/Pretty-Registration-Form.css"/>
   <link rel="stylesheet" href="resources/assets/css/login.css"/>
   <link rel="stylesheet" href="resources/assets/css/jobform.css"/> -->
   <link rel="stylesheet" href="resources/assets/css/notification.css"/>
   <link rel="stylesheet" href="resources/assets/css/likes.css"/> 
   

 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
 <script type="text/javascript" src="js/app.js"></script>
 <script type="text/javascript" src="controllers/usercontroller.js"></script>
  <script type="text/javascript" src="services/userservice.js"></script>
   <script type="text/javascript" src="controllers/jobcontroller.js"></script>
  <script type="text/javascript" src="services/jobservice.js"></script>
    <script type="text/javascript" src="controllers/blogcontroller.js"></script>
    <script type="text/javascript" src="controllers/blogdetailscontroller.js"></script> 
      <script type="text/javascript" src="services/blogservice.js"></script>
       <script type="text/javascript" src="controllers/notificationcontroller.js"></script> 
      <script type="text/javascript" src="services/notificationservice.js"></script>
             <script type="text/javascript" src="controllers/friendcontroller.js"></script> 
      <script type="text/javascript" src="services/friendservice.js"></script>
      
   <script type="text/javascript" src="controllers/chatcontroller.js"></script> 
      <script type="text/javascript" src="services/chatservice.js"></script>   
  	<script type="text/javascript" src="js/sockjs/sockjs.min.js"></script>
	<script type="text/javascript" src="js/stomp/dist/stomp.min.js"></script>

</head>
<body ng-app="app">

<header>

	<nav class="navbar navbar-inverse">
		    <div class="container-fluid">
		    <button type="button" class="navbar-toggle collapsed" 
   data-toggle="collapse" data-target="#collapse-example" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
           	<div class="navbar-header">
    	        <a class="navbar-brand" href="/">Instagram</a>
    	    </div>
    	    
    	    <div class="collapse navbar-collapse" id="collapse-example">
    	<ul class="nav navbar-nav">
    		  
    		  <li class="active"><a href="#Home">Home</a></li>
    		
<div class="navbar-header">
<a class="navbar-brand" href="/"><img src="resources/images/insta.jpg" width="50px" height="50px"></a>
</div>
<div class="collapse navbar-collapse" id="collapse-example">
<ul class="nav navbar-nav">

<li><a href="#/register"><span class="glyphicon glyphicon-pencil" ng-show="loggedInUser.firstName==undefined">Register</span></a></li>
<li><a href="#/login"><span class="glyphicon glyphicon-log-in" ng-show="loggedInUser.firstName==undefined">Login</span></a></li>
<li><a href="#/addjob" ng-show="loggedInUser.role=='ADMIN'">Save Job Details</a><li>
 <li><a href="#/alljobs" ng-show="loggedInUser.firstName">GetAllJobs</a></li>
<li><a href="#/edituserprofile"><span class="glyphicon glyphicon-pencil" ng-show="loggedInUser.firstName!=undefined">EditProfile</span></a></li>
<li><a href="#" ng-show="loggedInUser.firstName">Hi  {{loggedInUser.firstName}}&nbsp;{{loggedInUser.lastName}}</a></li>
<li><a href="#/"><span class="glyphicon glyphicon-log-out"  ng-click="logout()"ng-show="loggedInUser.firstName!=undefined">Logout</span></a></li>
<li class="dropdown">
    	     			  <li class="dropdown"><a href="" class="dropdown-toggle"
data-toggle="dropdown" ng-show="loggedInUser.firstName!=undefined">Blog<b class="caret"></b></a>
<ul class="dropdown-menu">
<li><a href="#/addblog">Add Blog</a></li>
<li><a href="#/blogsnotapproved" ng-show="loggedInUser.role=='ADMIN'">Blogs waiting for approval</a></li>
<li><a href="#/blogsapproved">Blogs</a></li>
</ul></li>
<li><a href="#/uploadprofilepic" ng-show="loggedInUser.firstName!=undefined">
<img src="http://localhost:8181/back2/getimage/{{loggedInUser.email}}" alt="Upload Profilepic" class="img-circle" width="50px" height="50px" ></a></li>
<li class="dropdown">
<li class="dropdown"><a href=""class="dropdown-toggle"
data-toggle="dropdown" ng-show="loggedInUser.firstName!=undefined">Friends<b class="caret"></b></a>
<ul class="dropdown-menu">
<li><a href="#/suggestedusers">Suggested User</a><li>
<li><a href="#/pendingrequests">Pending Requests</a><li>
</ul>
<li><a href="#/chat" ng-show="loggedInUser.firstName">Chat </a></li>
<li>
<a href="" class="dropdown-toggle" data-toggle="dropdown" ng-show="loggedInUser.firstName">
<span class="glyphicon glyphicon-globe">
<span class="rw-number-notification" ng-if="notificationCount>0">{{notificationCount}}</span></span></a>
<ul class="dropdown-menu">
<span class="dropdown-content">
<li ng-repeat="n in notifications">
<a href="#/getnotification/{{n.id}}">Blog titled <b>{{n.blogTitle}}</b>approval status is updated</a>
<hr>
</li>
</span>
</ul>
</li>
</ul>
</div> 
</div> 

</div>
</nav>

</header>

<div ng-view></div>
<br><br><br><br><br><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<footer class="navbar">
        <div id="footer" class="row">
            <div class="col-md-4 col-sm-6 footer-navigation">
                <h3 class="text-center"> N Group</h3>
                <p class="text-center links"><a href="#">Home</a><strong> · </strong><a href="#">Gallery </a><strong> · </strong><a href="#">About</a><strong> · </strong><a href="#">Faq</a><strong> · </strong><a href="#">Contact</a></p>
                <p class="text-center company-name"> N Group © 2017 </p>
            </div>
            <div class="col-md-4 col-sm-6 footer-contacts">
                <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
                    <p> kukatpally,Hyderbad,India</p>
                </div>
                <div><i class="fa fa-phone footer-contacts-icon"></i>
                    <p class="footer-center-info email text-left"> +91 8520078423</p>
                </div>
                <div><i class="fa fa-envelope footer-contacts-icon"></i>
                    <p> <a href="#" target="_blank">NBCOnline@gmail.com</a></p>
                </div>
            </div>
            <div class="clearfix visible-sm-block"></div>
            <div class="col-md-4 footer-about">
                <h4 class="text-center">About Us</h4>
                <p class="text-justify"> We N Bakes&amp;Cakes provides a varitey of cakes and desserts with losts of customisation options We have a varitey of premium and exotic flavours for coustomisation in every dishes we serve.Our motto is to make ur dream thoughts into actions.
                </p>
                <div class="social-links social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-github"></i></a></div>
            </div>
        </div>
    </footer>
</body>





</html>